<div class="indent-box">
  <h1>All events</h1>
    <% @events.each do |event| %>
          <br>
          <a href="/events/<%= event.id%>"><%= event.name %></a> |
          <span><%= event.location %></span>
          <br>
    <% end %>
</div>
