<h1>events per day</h1>
<%= @date.gsub(/\D+/, '') %>

<ul>
  <% @events.each do |event| %>

  <br>
  <%= event.start_time.to_date.to_s.gsub(/\D+/, '') %>
  <br>
  <%= event.end_time.to_date.to_s.gsub(/\D+/, '') %>
  <% if @date.gsub(/\D+/, '').between?(
      event.start_time.to_date.to_s.gsub(/\D+/, ''),
      event.end_time.to_date.to_s.gsub(/\D+/, '')
     ) %>
  <p><%= event.name %> includes date</p>
<% end %>
<% end %>
</ul>


</ul>
