<h1>Today's Trip events</h1>
<div class="indent-box">
  <% @trips.each do |trip| %>
    <% trip.events.each do |event| %>
      <% if @date.gsub(/\D+/, '').between?(event.start_time.to_date.to_s.gsub(/\D+/, ''),event.end_time.to_date.to_s.gsub(/\D+/, '')) %>
        <p><%= link_to event.name, event_path(event) %>: <%= event.description %></p>
        <br>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to "Add An Event", new_event_path %>
</div>
