<h1>Today's Trip events</h1>

  <% @events.each do |event| %>
    <% if @date.gsub(/\D+/, '').between?(event.start_time.to_date.to_s.gsub(/\D+/, ''),event.end_time.to_date.to_s.gsub(/\D+/, '')) %>
      <p><%= link_to event.name, event_path(event) %>: <%= event.description %></p>
    <% else %>
      <%= link_to "No events today! How about we add one?", new_event_path %>
      <% break %>
    <% end %>
  <% end %>
