* {
  font-family: 'Barlow Condensed', sans-serif;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.simple-calendar {
}

.calendar-heading {
  font-size: 20px;
}

.cal-day{
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 0 auto;
  transition: background-color 1s;
}

.cal-day:hover {
  background-color: white;
  text-decoration: underline;
}

.table {
  background-color: #D5D5D5;

}
