
* {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
}

html {
  background: url("bg_map.png") no-repeat center center fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #666666;
}

.navbar {
  padding: 5px;
  display: grid;
  grid-template-columns: 0fr 1fr;
  width: 100vw;
}

.navlinks {
  padding: 5px;
}

.simple-calendar {}

.calendar-heading {
  font-size: 20px;
}

.cal-day {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 auto;
  transition: background-color 1s;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  font-size: 50px;
  color: #D5D5D5;
}

.cal-day:hover {
  background-color: #A5A5AF;
  text-decoration: underline;
}

.table {
  background-color: #666666;
  font-size: 20px;
}

.current-day {
  border: 1px solid white;
}

.has_events {
  background-color: lightsalmon;
}
